<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="">KHB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item text-white">
          <a class="nav-link text-white" routerLink="category/create" routerLinkActive="highlight">Create Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="category/list">List Categoties</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="register">Register</a>
          </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="article/submit">Submit Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="article/review">Review URLs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="article/browse">Browse URLs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="user/list">List Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="login">Login</a>
          </li>
        <li class="nav-item text-white">
          <a class="nav-link disabled text-white" routerLink="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>