<section>

						

    <div id="fragment-722027704-ewxd"> <style>
.call-to-action-box {
--bg-color: #F3F8F7;
--logo-divider-size: 128px;
--main-color: var(--public-main-color);
--font-color: var(--public-secondary-color);


}
</style>

<div class="call-to-action-box">
<div class="logo-header sticker">
<div>
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
    class="img-default" alt="Sample image">
</div>
</div>
<div class="row">
    &nbsp;
</div>
<div class="row"> &nbsp;</div>
<div class="container">
<div class="row">
<div class="col">
<div class="title">
<h1>
<div>Why Knowledge Portal</div>
</h1>
</div>
</div>
</div>
<div class="row">
<div class="col">
<div><ul class="features">
<li>Free / low cost collaboration.</li>
<li>Full digital collaboration tool set.</li>
<li>Huge public sector peer network.</li>
<li>Secure, UK-hosted solution.</li>
<li>Flexible, open source platform.</li>
<li>Established expert communities.</li>
<li>Trusted best practice and insight.</li>
<li>Proven community management support.</li>
<li>Community-led roadmap.</li>
</ul>
</div>
</div>
</div>
<div class="row pb-4">
<div class="col text-center">
<div><a class="btn btn-secondary" href="register">Register for FREE</a></div>
</div>
</div>
<div class="row pb-4">
<div class="col text-center">
<!-- <div class="strong"><b>Join groups, make connections, discover knowledge, engage with colleagues.</b></div> -->
</div>
</div>
</div>
</div></div><style>.call-to-action-box {
color: #393939;
background-color: var(--bg-color);
position: relative;
}

.call-to-action-box .logo-header {
height: 0;
position: absolute;
left: 50%;
top: 0;
transform: translateX(-50%);
}

.call-to-action-box .logo-header+div {
padding-top: calc(var(--logo-divider-size) / 2);
}

.call-to-action-box .logo-header img {
width: var(--logo-divider-size);
height: var(--logo-divider-size);
}

.call-to-action-box .features li {
line-height: 2rem;
}

.call-to-action-box li::marker {
color: var(--main-color);
}

.call-to-action-box .title h1{
color: var(--font-color);
text-align: center;
margin-top: 0.5rem;
margin-bottom: 1rem;
font-weight: 600;
}

.call-to-action-box .btn {
color: var(--font-color);
border-color: var(--main-color);
}

@media screen and (min-width: 768px) {
.features {
column-count: 3;
padding-block-start: 16px;
}
}</style>



</section>
